
* {
    margin: 0;
    padding: 0;
}

div {
    box-sizing: border-box;
}

/* topnav style start */
.topnav {
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #999;
}

.topnav-container {
    width: 1240px;
    height: 40px;
    margin: auto;
    left: 0;
    right: 0;
    position: relative;
}

.topnav-leftoption {
    width: 700px;
    line-height: 40px;
    position: absolute;
}

.topnav-rightoption {
    width: 100px;
    line-height: 40px;
    position: absolute;
    left: 1160px;
}

.topnav-option {
    font-size: 12px;
    color: #999;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 5px;
}

.topnav-container span {
    font-size: 10px;
    border-left: 1px solid #ccc8c8;
}

/* topnav style end */
/* search style start */
.searchnav {
    width: 1240px;
    height: 110px;
    margin: auto;
    left: 0;
    right: 0;
    position: relative;
}

.xmlogo {
    position: absolute;
    left: 0px;
    top: 25px;
}

.searchbox {
    width: 420px;
    height: 40px;
    position: absolute;
    left: 680px;
    bottom: 15px;
}

.searchbox-container {
    width: 420px;
    height: 40px;
    position: relative;
}

.input-search {
    width: 380px;
    height: 40px;
    position: absolute;
    left: 0px;
}

.input-submit {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 380px;
}

.hotwords {
    width: 160px;
    height: 40px;
    z-index: 999;
    position: absolute;
    left: 245px;
    top: 2px;
}

.hotwords a {
    line-height: 40px;
    font-size: 11px;
    text-decoration: none;
    color: black;
}

.search {
    width: 20px;
    height: 20px;
    ;
    position: absolute;
    left: 393px;
    top: 13px;
}

.shopcar-button {
    width: 125px;
    height: 45px;
    background: #FFDB3D;
    border: none;
    color: black;
    position: absolute;
    right: 0px;
    bottom: 12px;
    text-align: center;
}

.remind {
    width: 110px;
    height: 10px;
    position: absolute;
    right: 0px;
    top: 25px;
}

.clock-img {
    display: inline;
}

.clock-text {
    display: inline;
    line-height: 10px;
    font-size: 11px;
    color: #999;
}

/* search style end */
/* headnav style start */
.headnav {
    width: 1240px;
    height: 40px;
    margin: auto;
    left: 0;
    right: 0;
}

.headnav ul {
    overflow: hidden;
    list-style: none;
    line-height: 40px;
    display: inline-block;
}

.headnav li {
    float: left;
    text-align: center;
}

.headnav-leader {
    width: 250px;
    background: #FF4A00;
}

.headnav-content {
    width: 990px;
    background: #404144;
    margin-left: -5px;
}

.leader-item {
    font-size: 18px;
    color: #FFEBD8;
    text-decoration: none;
}

.content-item {
    font-size: 18px;
    color: #FFEBD8;
    text-decoration: none;
}

.headnav-content li {
    width: 99px;
}

.leader-item {
    margin-left: 30px;
}

/* headnav style start */
/* sidenav style start */
.big {
    width: 1240px;
    height: 590px;
    margin: auto;
    left: 0;
    right: 0;
    overflow: hidden;
    border-bottom: 1px solid #999;
}

.sidenav {
    float: left;
    width: 250px;
    height: 590px;
}

.sidenav-content {
    width: 220px;
    height: 75px;
    border-left: 1px solid #999;
    border-bottom: 1px solid #999;
    padding-left: 29px;
}

.sidenav-content dt {
    line-height: 35px;
}

.sidenav-content dd {
    display: inline-block;
    line-height: 25px;
}

.sidenav-content dt a {
    text-decoration: none;
    color: #FF4A00;
    font-size: 12px;
}

.sidenav-content dd a {
    text-decoration: none;
    color: #999;
    font-size: 12px;
}

/* sidenav style end */
/* Wheel picture style start */
.wheel-picture {
    width: 990px;
    height: 420px;
    margin-left: 250px;
    position: relative;
}

.picture-list {
    position: absolute;
    width: 990px;
    height: 420px;
}

.picture-list img:not(:first-child) {
    display: none;
}

.btn-prev,
.btn-next,
.span-list,
.picture-list>img {
    position: absolute;
}

.btn-prev,
.btn-next {
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
    width: 40px;
    height: 70px;
    background: url("../images/icon-slides.png");
    border: none;
}

.btn-prev {
    background-position-x: -86px
}

.btn-prev:hover {
    background-position: 0;
}

.btn-next {
    right: 0;
    background-position-x: -125px;
}

.btn-next:hover {
    background-position-x: -43px
}

.span-list {
    z-index: 101;
    transform: translateX(-50%);
    bottom: 20px;
    right: 0px;
}

.span-list .active {
    background: orangered;
}

.span-list>span {
    cursor: pointer;
    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 50%;
    border: 1px solid #fff;
    background-color: rgba(44, 44, 44, .3);
}

/* Wheel picture style end */
/* static picture style start */
.static-picture {
    width: 990px;
    height: 170px;
    position: relative;
}

.staticpicture1 {
    position: absolute;
    left: 250px;
}

.staticpicture2 {
    position: absolute;
    left: 580px;
}

.staticpicture3 {
    position: absolute;
    left: 910px;
}

/* static picture style end */
/* starproduce style start */
.starproduce {
    width: 1240px;
    height: 370px;
    margin: auto;
    left: 0;
    right: 0;
    margin-bottom: 15px;
}

.starproduce-tittle {
    display: inline-block;
    font-size: 14px;
    line-height: 60px;
    color: black;
}

.starproduce-explain {
    display: inline-block;
    font-size: 11px;
    line-height: 60px;
    color: #999;
    margin-left: 5px;
}

.starproduce-choice {
    width: 1240;
    height: 310;
    overflow: hidden;
}

.starproduce-choice>div {
    width: 310px;
    height: 310px;
    border-top: 1px solid #999;
    border-left: 1px solid #999;
    border-bottom: 1px solid #999;
    float: left;
    text-align: center;
}

.starproduce-choice div a {
    display: block;
    color: black;
    text-decoration: none;
    font-size: 14px;
    margin-top: 20px
}

.starproduce-choice div p {
    color: #999;
    font-size: 11px;
    margin-top: 20px;
}

.router {
    border-right: 1px solid #999;
}

/* starproduce style end */
/* newproduce style start */
.newproduce {
    width: 1240px;
    height: 1000px;
    margin: auto;
    left: 0;
    right: 0;
}

.newproduce-tittle {
    display: inline-block;
    font-size: 14px;
    line-height: 35px;
    color: black;
}

.newproduce-container {
    width: 1240px;
    height: 970px;
    overflow: hidden;
}

.newproduce-choice {
    float: left;
    width: 930px;
    height: 970px;
    border: 1px solid #999;
}

.choice-first,
.choice-second {
    height: 310px;
    width: 930px;
    border-bottom: 1px solid #999;
    overflow: hidden;
}

.choice-third {
    height: 340px;
}

.voicebox {
    float: left;
    width: 620px;
    height: 310px;
    border-right: 1px solid #999;
    background: url('../images/viocebox.jpg') no-repeat center center;
}

.bracelet {
    float: left;
    width: 310px;
    height: 310px;
    background: url('../images/bracelet.jpg') no-repeat center center;
}

.kb {
    float: left;
    width: 310px;
    height: 310px;
    border-right: 1px solid #999;
}

.keybuckle {
    width: 310px;
    height: 155px;
    border-bottom: 1px solid #999;
    background: url('../images/keybuckle.png') no-repeat 200px center;
}

.bluetoothheadset {
    width: 310px;
    height: 155px;
    background: url('../images/bluetoothheadset.png') no-repeat 200px center;
}

.tshirt {
    float: left;
    width: 310px;
    height: 310px;
    border-right: 1px solid #999;
    background: url('../images/tshirt.jpg') no-repeat center center;
}

.backcover {
    float: left;
    width: 310px;
    height: 310px;
    background: url('../images/backover.jpg') no-repeat center center;
}

.choice-third {
    width: 930px;
    height: 350px;
    overflow: hidden;
}

.shell {
    float: left;
    width: 310px;
    height: 350px;
    border-right: 1px solid #999;
    background: url('../images/shell.png') no-repeat center center;
}

.selfiestick {
    float: left;
    width: 310px;
    height: 350px;
    border-right: 1px solid #999;
    background: url('../images/selfiestick.jpg') no-repeat center center;
}

.earphone {
    float: left;
    width: 310px;
    height: 350px;
    background: url('../images/earphone.jpg') no-repeat center center;
}

.newprpduce-sidenav {
    float: left;
    width: 310px;
    height: 970px;
    border-top: 1px solid #999;
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
}

.sale {
    width: 310px;
    height: 390px;
}

.sale a {
    text-decoration: none;
}

.sale div {
    width: 310px;
    height: 130px;
    border-bottom: 1px solid #999;
}

.memorycard {
    background: url('../images/memorycard.png') no-repeat 200px center;
}

.setmeal {
    background: url('../images/setmeal.png') no-repeat 200px center;
}

.coldplay {
    background: url('../images/coldplay.png') no-repeat 200px center;
}

.other {
    width: 310px;
    height: 580px;
}

.other a {
    text-decoration: none;
    color: black;
}

.newproduce-choice .p1 {
    margin-top: 25px;
    margin-left: 20px;
    color: #999;
    font-size: 15px;
}

.newproduce-choice .p2 {
    margin-top: 5px;
    margin-left: 20px;
    color: #999;
    font-size: 15px;
}

.newproduce-choice a {
    text-decoration: none;
}

.mc-tittle {
    padding-top: 55px;
    padding-left: 20px;
    color: black;
    font-size: 15px;
}

.mc-explain1,
.set-explain1,
.cp-explain1 {
    padding-left: 20px;
    color: #999;
    font-size: 13px;
}

.mc-explain2,
.set-explain2,
.cp-explain2 {
    padding-left: 20px;
    color: #999;
    font-size: 13px;
}

.set-tittle,
.cp-tittle {
    padding-top: 35px;
    padding-left: 20px;
    color: black;
    font-size: 15px;
}

.other-option {
    width: 250px;
    height: 580px;
    margin: auto;
    left: 0;
    right: 0;
}

.other-option p:not(:first-child) {
    font-size: 13px;
    color: #999;
    border-bottom: 1px solid #999;
    padding-top: 20px;
    padding-bottom: 20px;
}

.other-option p:first-child {
    font-size: 13px;
    color: #999;
    border-bottom: 1px solid #999;
    padding-top: 50px;
    padding-bottom: 20px;
}

.other-option p:hover {
    color: #F4444D;
}

.other-option p:focus {
    cursor: pointer;
}

.other-option h1 {
    font-size: 15px;
    padding-top: 40px;
    color: #999;
}

.other-option input {
    width: 250px;
    height: 35px;
    margin-top: 10px;
}

.other-option h2 {
    font-size: 12px;
    margin-top: 25px;
    color: #999;
}

.other-option button {
    width: 250px;
    height: 40px;
    margin-top: 5px;
    background: #999;
    color: white;
    box-shadow: none;
    border: none;
}

/* newproduce style end */
/* bottom style start */
.bottom {
    height: 535px;
    width: 100%;
    background-color: #FAFAFA;
    margin-top: 70px;
}

.bottom-container {
    height: 535px;
    width: 1240px;
    margin: auto;
    left: 0px;
    right: 0px;
    background-color: #FAFAFA;
}

.activity {
    height: 160px;
    width: 1240px;
    border-bottom: 1px solid #999;
    overflow: hidden;
}

.activity div {
    height: 160px;
    width: 248px;
    float: left;
    text-align: center;
}

.activity img {
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: block;
    margin-top: 50px;
    margin-bottom: 10px;
}

.activity a {
    display: block;
    font-size: 15px;
    text-decoration: none;
    color: #999;
}

.label {
    width: 1240px;
    height: 200px;
    overflow: hidden;
    border-bottom: 1px solid #999;
}

.label div:not(:last-child) {
    height: 135px;
    width: 200px;
    border-right: 1px solid #999;
    margin-top: 32.5px;
    float: left;
}

.label div:last-child {
    height: 135px;
    width: 240px;
    float: left;
    margin-top: 32.5px;
}

.label a {
    text-decoration: none;
    display: block;
}

.label div a:first-child {
    color: black;
    font-size: 600;
    margin-bottom: 23px;
    font-size: 15px;
}

.label div a:not(:first-child) {
    color: #999;
    margin-top: 15px;
    font-size: 13px;
}

.label div:not(:first-child) a {
    padding-left: 30px;
}

.label div:last-child {
    text-align: center;
}

.label div:last-child p:first-child {
    color: #999;
    font-size: 25px;
    margin-bottom: 20px;
}

.label div:last-child p:not(:first-child) {
    color: #999;
    font-size: 13px;
}

.label button {
    width: 120px;
    height: 30px;
    margin-top: 20px;
    background-color: #FF4A00;
    color: white;
    box-shadow: none;
    border: none;
}

.last {
    width: 1226px;
    height: 180px;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    text-align: center;
    padding-top: 30px;
    margin: 0 auto 0 auto;
}

.bottom-nav {
    margin: 0 auto 0 auto;
    height: 35px;
}

.bottom-nav a {
    color: #666;
    line-height: 40px;
    display: inline-block;
    text-decoration: none;
    font-size: 12px;
}

.bottom-nav .sep {
    margin: 0 6px 0 3px;
    border-right: 1px solid #DFDFDF;
}

.bottom p {
    color: #666;
    font-size: 12px;
}

.language {
    margin: 20px auto 0 auto;
    position: relative;
    width: 380px;
    height: 40px;
}

.language select {
    width: 200px;
    height: 40px;
    border: 1px solid #e0e0e0;
    position: absolute;
    right: 0;
}

.language img {
    position: absolute;
    top: 7.5px;
    left: 0;
}

/* bottom style end */
.test {
    width: 100%;
    height: 100px;
}